.recipeSuggestions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.suggestionsBox {
  background-color: #e5e8ea;
  padding-top: 10px;
  text-align: center;
  color: rgb(8, 9, 8);
  font-size: 1.5em;
  border-radius: 20px;
  border-color: rgb(133, 133, 133);
  border-width: 2px;
  max-width: 175rem;
  justify-content: flex;
  overflow:auto;
  margin: 10px auto;
}

@media only screen and (max-width: 175rem) {
  .suggestionsBox {
    margin: 1rem;
  }
}