.btnGoBack {
  color: black;
  border-width: 2px;
  margin: 2px;
  border-color: black;
  font-weight: bold;
  font-size: 16px;
  width: auto;
}

@media only screen and (max-width: 1024px)  {
.portions {
    margin-left: 30px;
    margin-bottom: 5px;
}

.showContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}
.clock {
    margin-left: 10px;
    margin-bottom: 5px;
}

.box {
     
        display: flex;
        align-items: center;
        justify-content: center;
      
}
.img {
    max-width: 300px;
    max-height: 500px;
    margin: 10px;
    
}

.info {
    max-width: 300px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: black;
}


.ingredients {
    max-width: 300px;
    max-height: fit-content;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.recipeTitle {
    width: 300px;
    color: rgb(9, 8, 8);
    font-size: 2em;
}

.description {
    max-width: 300px;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    color: black;
}

#big {
    color:black;
    font-size: 1.2em;
    font-weight: 500;
}

.recipeSuggestion{

    max-width: 300px;
    
    margin-bottom: 100px;
    
    padding-left: 10px;
    
    padding-top: 5px;
    
    padding-bottom: 10px; 
    }

/* just making the paragraphs inline */
div > span { display: inline-block; }

/* appending the commas */
div > span:after { content: ", " }

/* removing it for the last index */
div > span:last-of-type:after { content: "" }
}

@media only screen and (min-width: 1024px)  {

      
  .portions {
    margin-left: 20px;
    margin-bottom: 5px;
   }
.clock {
    margin-left: 10px;
    margin-bottom: 5px;
}

.showContent {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-right: 10px;
    margin-left: 10px;
}

.infoBox {
    display: flex;
    flex-direction: column;

}

.showDescription{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-around;

}

.img {
    max-width: 600px;
    max-height: 450px;
    margin-left: 10px;
    margin-right: 70px;
    margin-top: 60px;
    
}

.info {
    width: 450px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: black;
}

.ingredients {
    min-width: 450px;
    max-height: fit-content;
    min-height: 400px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.recipeTitle {
    color: rgb(9, 8, 8);
    font-size: 2em;
}

.description {
    max-width: 1000px;
    min-width: 700px;
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    color: black;
    margin-left: 70px;
    margin-right: 70px;
}

#big {
    color:black;
    font-size: 1.2em;
    font-weight: 500;
}

.recipeSuggestion{

    width: 300px;
    
    margin-bottom: 100px;
    
    padding-left: 10px;
    
    padding-top: 5px;
    
    padding-bottom: 10px; 
    }

/* just making the paragraphs inline */
div > span { display: inline-block; }

/* appending the commas */
div > span:after { content: ", " }

/* removing it for the last index */
div > span:last-of-type:after { content: "" }

   
}
