/* .btnGoBack {
    color: black;
    border-width: 2px;
    margin: 2px;
    border-color: black;
    font-weight: bold;
    font-size: 16px;
    width: auto;
  }

  @media only screen and (max-width: 600px)  {

    .hej {
        background-color: black;
    }
   
  }
  
  .portions {
      margin-left: 20px;
      margin-bottom: 5px;
  }
  .clock {
      margin-left: 10px;
      margin-bottom: 5px;
  }
  
  
  .img {
      width: 670px;
      height: 502px;
      margin: 20px;
      margin-top: 60px;
      margin-right: 70px;
      
  }
  
  .info {
      width: 450px;
      margin-bottom: 30px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-left: 70px;
      color: black;
  }
  
  .ingredients {
      width: 450px;
      max-height: fit-content;
      min-height: 400px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 70px;
      color: black;
  }
  
  .recipeTitle {
      color: rgb(9, 8, 8);
      font-size: 2em;
      margin-left: 70px;
  }
  
  .description {
      width: 1150px;
      min-height: 200px;
      margin-top: 30px;
      margin-bottom: 30px;
      padding-left: 10px;
      padding-top: 10px;
      color: black;
      margin-left: 70px;
      margin-right: 70px;
  }
  
  #big {
      color:black;
      font-size: 1.2em;
      font-weight: 500;
  }
  
  .recipeSuggestion{
  
      width: 300px;
      
      margin-bottom: 100px;
      
      padding-left: 10px;
      
      padding-top: 5px;
      
      padding-bottom: 10px; 
      }
  
  /* just making the paragraphs inline */
  div > span { display: inline-block; }
  
  /* appending the commas */
  div > span:after { content: ", " }
  
  /* removing it for the last index */
  div > span:last-of-type:after { content: "" }
   */