@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.background-image {
  background-image: url("./src/assets/searchBackground.png");
  background-size: contain;
  background-position: center;
}

.header {
  top: 0;
  left: 0;
  right: 0;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  left: 0;
  right: 0;
  overflow: auto;
}
.footer {
  height: 96px;
  left: 0;
  right: 0;
  bottom: 0;
}
