@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

/* Band-aid solution for Mozilla Firefox(-moz-appearance) and Safari(-webkit-touch-callout) browsers, 
to fix the slightly off-centered text present in these browers. Adjust values as needed.*/
@supports (-moz-appearance:none) {
  .searchBox {
    padding-left: 1.5rem !important;
  }
  .ingredients{
    padding-left: 1.5rem !important;
  }
  .description {
    padding-left: 1.5rem !important;
  }
}

@supports (-webkit-touch-callout: none) {
  .searchBox {
    padding-left: 1.5rem !important; 
  }
  .ingredients{
    padding-left: 1.5rem !important;
  }
  .description {
    padding-left: 1.5rem !important;
  }
}

.background-image {
  /* background-image: url("./src/assets/siteBackground.jpg"); */
  background-image: url("./src/assets/siteBackgroundTest.jpg");
  background-size: auto;
  background-position: center center;
}

.header {
  top: 0;
  left: 0;
  right: 0;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  left: 0;
  right: 0;
  overflow: auto;
}
.footer {
  position: bottom;
  height: 90px;
  left: 0;
  right: 0;
  bottom: 0;
}
