.header {
  top: 0;
  left: 0;
  right: 0;
}

.header-logo {
  max-width: 94px;
  position: relative;
}

.header-title {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: -80px;
}

.header-upper-font {
  font-family: "Bungee", cursive;
  font-size: 34px;
  color: rgb(235, 235, 235);
}

.header-lower-font {
  font-family: "Sedgwick Ave", cursive;
  font-size: 16px;
  font-weight: bold;
  margin-top: -8px;
  text-align: center;
  color: rgb(235, 235, 235);
}

@media only screen and (max-width: 380px)  {
  .header-title{
    padding-left: 45px;
  }
}

@media only screen and (max-width: 320px)  {
  .header-title{
    padding-left: 65px;
  }

  .header-upper-font{
    font-size: 28px;
  }

  .header-lower-font{
    font-size: 14px;
  }
}