.display-recipecards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noResult {
color: black;
font-size: 1.3rem;
border-radius: 25px;
padding: 0.5rem;
background: rgb(204, 224, 196);
border: solid 1px;
}