.LinkedIn,
.GitHub,
.office-logo {
  color: rgb(235, 235, 235);
  margin: 1px;
  font-weight: bold;
  font-size: 15px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

.footer {
  margin-top: auto;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 224, 196);
}

.FindUsAt {
  color: rgb(235, 235, 235);
  font-family: "Inter", sans-serif;
  margin: 3px;
  font-weight: bold;
  font-size: 15px;
  width: auto;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.joke {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  text-align: center;
  margin-top: 1rem;
  padding: 0 1rem;
  color: rgb(235, 235, 235);
}
