.searchBoxWrapperDiv {
  border-width: 2px;
  border-color: black;
  border-radius: 40px;
  height: 50px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox {
  color: black;
  height: 36px;
  position: relative;
  background-color: rgba(255, 0, 0, 0);
  outline: none;
}

.searchBox::placeholder {
  color: black;
}

#btnSearch {
  position: absolute;
  margin-top: -2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12.2rem;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
}

.magnifying-glass {
  max-width: 1.5rem;
}

.filter-button {
  color: black;
}

.filter-icon {
  max-width: 2rem;
  margin-right: 1rem;
  margin-top: 0.55rem;
}

/* 187px */
